header{
    background-color: dodgerblue;
    width: 1220px;
    height: 60px;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
input{
    width: 600px;
    height: 40px;
    padding: 5px 10px;
    margin: 0px 100px;
    border-radius: 3px;
    border: none;
}
i{
    margin-right: 10px;
    color: white;
    font-size: 20px;
}