.a{
    width: 1220px;
    margin: 0 auto;
}
.b{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 50px;
}
button{
    width: 80px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: dodgerblue;
}